<div class="navigation">
    <button class="trigger" (click)="toggleShow()">Menu</button>
    <div class="content" *ngIf="show">
        <div class="logo" routerLink="/">
            <h2>999Scraper</h2>
        </div>
        <div class="actions">
            <ng-container *ngIf="session$ | async">
                <button class="btn" routerLink="/search" routerLinkActive="active">Search</button>
                <button class="btn" routerLink="/history" routerLinkActive="active">History</button>
                <button class="btn" (click)="onLogout()">Logout</button>
            </ng-container>
        </div>
    </div>

</div>
