@import "../../../vars";
.navigation {
  .trigger {
    display: none;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(218, 206, 206);
    font-size: 1.5rem;
  }
  .content {
    box-shadow: 1px 1px 5px 1px rgb(235, 230, 230);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and(max-width:800px) {
  .navigation {
    .trigger {
      display: block;
    }

    .content {
      flex-flow: column;
      .actions {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
      }
    }
  }
}
