@use "sass:color";

.user {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 1px 3px 1px rgb(241, 235, 235);
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: color.adjust(white, $lightness: -5%, $space: hsl);
  }
  &:active {
    transform: scale(0.9);
  }
  .actions {
    button {
      cursor: pointer;
      color: white;
      padding: 7px;
      border: none;
      border-radius: 10px;
    }
    .block {
      background-color: rgb(196, 110, 110);
      &:hover {
        background-color: color.adjust(rgb(196, 110, 110), $lightness: -5%, $space: hsl);
      }
    }

    .unblock {
      background-color: rgb(97, 172, 97);
      &:hover {
        background-color: color.adjust(rgb(97, 172, 97), $lightness: -5%, $space: hsl);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .user {
    width: 97%;
  }
}
