@use "sass:color";

.fullscreen-filters {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 999;
  display: none;
  width: 90%;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 5px 15px 1px rgb(167, 156, 156);
  transform: translateX(-50%);
}

.trigger-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: color.adjust(white, $lightness: -10%);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.content { padding: 15px; }

@media only screen and (max-width: 850px) {
  .fullscreen-filters { display: block; }
}
