$primary-color: rgb(255, 255, 255);
$secondary-color: darken($primary-color, 5%);
$status-color: rgba(136, 136, 226, 0.692);

$gradient-background: linear-gradient(to left, rgb(212, 185, 158), #ce1717);

$font-size: 1.3em;
