<div class="products">
    <form #form="ngForm" (submit)="onSubmit(form)">
        <div class="search-section">
            <input name="search" ngModel type="text" required placeholder="Search...">
            <button class="btn active" type="submit" [disabled]="form.invalid">Search</button>
        </div>
    </form>
    <div class="products-container" *ngIf="!loading && products.length > 0;">
        <app-product-item *ngFor="let product of products" [product]="product"></app-product-item>
    </div>
    <h3 style="padding: 20px" *ngIf="!loading && products.length ===0">No Products Found, try changing the filters</h3>
    <div class="loading" *ngIf="loading">
        <ng-container *ngIf="progress$ | async as progress;else apploading">
            <div class="loading-bar"
                *ngIf="progress.progressPercentage > 0 && progress.progressPercentage <= 99; else apploading">
                <div class="inner-progress">
                    <div class="charger" [ngStyle]="{'width': progress.progressPercentage + '%'}"></div>
                </div>
                <div class="percentage">{{progress.progressPercentage}}%</div>
            </div>
            <p style="text-align: center;">Current Page: {{progress.currentPage}} / {{progress.totalPages}}</p>
        </ng-container>
        <ng-template #apploading>
            <app-loading style="width: 30%; margin:0 auto;"></app-loading>
        </ng-template>
    </div>
</div>