@use "sass:color";

.activity {
  box-shadow: 1px 1px 5px rgb(224, 213, 213);
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  &:hover {
    background-color: color.adjust(white, $lightness: -5%, $space: hsl);
  }

  .date-holder {
    font-size: 0.8rem;
    font-style: italic;
  }
}

@media only screen and (max-width: 800px) {
  .activity {
    flex-flow: column;
    text-align: center;
  }
}
