.admin-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  .users-container {
    height: 100%;
    box-shadow: 1px 4px 5px rgb(226, 221, 221);
    border-radius: 10px;
    flex: 0.2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    input {
      border: none;
      width: 70%;
      margin: 10px auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgb(221, 214, 214);
    }
    .usersOverFlow {
      height: 400px;
      overflow-y: auto;
    }
  }

  .activity-container {
    height: 100%;
    flex: 0.7;
    box-shadow: 1px 4px 5px rgb(226, 221, 221);
    border-radius: 10px;
    width: 100%;
    overflow-y: auto;
    .activitiesOverFlow {
      height: 400px;
      overflow-y: auto;
    }
  }
}

.header {
  background-color: darken(white, 10%);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: rgb(59, 55, 55);
}

@media only screen and (max-width: 800px) {
  .admin-section {
    flex-flow: column;
    margin: 10px;
    .users-container {
      margin-bottom: 20px;
    }
  }
}
