@import "../../../vars";

.main {
  background-image: $gradient-background;
  background: fixed;
  width: 100%;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 230px auto;
  grid-column-gap: 20px;
}

@media only screen and (max-width: 850px) {
  .main {
    display: block;
  }

  .sidebar {
    display: none;
  }
}
